@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


* {
	font-family: 'Roboto', sans-serif;
}

body {
  padding: 20px;
  font-family: sans-serif;
}

input {
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px;
}
